# List And Tuple

In [1]:
course = ['History','Math','Physics','CompSci']
course.append('Art')
print(course)

['History', 'Math', 'Physics', 'CompSci', 'Art']

In [2]:
course = ['History','Math','Physics','CompSci']
course.insert(0,'Art')
print(course)

['Art', 'History', 'Math', 'Physics', 'CompSci']

In [3]:
course = ['History','Math','Physics','CompSci']
course_2 = ['Art','Education']
course.insert(0,course_2)
print(course)

[['Art', 'Education'], 'History', 'Math', 'Physics', 'CompSci']

In [4]:
course = ['History','Math','Physics','CompSci']
course_2 = ['Art','Education']
course.insert(0,course_2)
print(course[0])

['Art', 'Education']

In [5]:
course = ['History','Math','Physics','CompSci']
course_2 = ['Art','Education']
course.extend(course_2)
print(course)

['History', 'Math', 'Physics', 'CompSci', 'Art', 'Education']

append will add list in side the list [[[]]]


extend will add our value in side list  []

In [6]:
course = ['History','Math','Physics','CompSci']
course.remove('Math')
print(course)

['History', 'Physics', 'CompSci']

In [8]:
course = ['History','Math','Physics','CompSci']
popped = course.pop()
print(popped)
print(course) # pop will remove last item in the list

CompSci
['History', 'Math', 'Physics']

In [9]:
course = ['History','Math','Physics','CompSci']
course.reverse()
print(course)

['CompSci', 'Physics', 'Math', 'History']

In [10]:
course = ['History','Math','Physics','CompSci']
course[::-1]
print(course)

['History', 'Math', 'Physics', 'CompSci']

In [11]:
def my_function(x):
  return x[::-1]

mytxt = my_function("I wonder how this text looks like backwards")

print(mytxt)

sdrawkcab ekil skool txet siht woh rednow I

In [12]:
course = ['History','Math','Physics','CompSci']
course.sort()
print(course)#sort alfabatical

['CompSci', 'History', 'Math', 'Physics']

In [13]:
course = ['History','Math','Physics','CompSci']
nums = [1,5,2,4,3]
nums.sort()
course.sort()
print(nums)
print(course)

[1, 2, 3, 4, 5]
['CompSci', 'History', 'Math', 'Physics']

In [14]:
course = ['History','Math','Physics','CompSci']
nums = [1,5,2,4,3]
nums.sort(reverse=True)
course.sort(reverse=True)
print(nums)
print(course)

[5, 4, 3, 2, 1]
['Physics', 'Math', 'History', 'CompSci']

In [15]:
course = ['History','Math','Physics','CompSci']
sorted_courses = sorted(course)
print(sorted_courses)

['CompSci', 'History', 'Math', 'Physics']

In [17]:
nums = [1,5,2,4,3]
print(min(nums))
print(max(nums))
print(sum(nums))

1
5
15

In [19]:
course = ['History','Math','Physics','CompSci']

print(course.index('CompSci'))

3

In [20]:
course = ['History','Math','Physics','CompSci']

print('Math' in course)

True

In [21]:
course = ['History','Math','Physics','CompSci']

for item in course:
    print(item)

History
Math
Physics
CompSci

In [24]:
course = ['History','Math','Physics','CompSci']

for index,item in enumerate(course):
    print(index,item)

0 History
1 Math
2 Physics
3 CompSci

In [25]:
course = ['History','Math','Physics','CompSci']

for index,item in enumerate(course,start=1):
    print(index,item)

1 History
2 Math
3 Physics
4 CompSci

In [26]:
course = ['History','Math','Physics','CompSci']
course_str = ', '.join(course)
print(course_str)

History, Math, Physics, CompSci

In [28]:
list1 = ['History','Math','Physics','CompSci']
list_2 = list1
print(list1)
print(list_2)


list1[0] = 'Art'

print(list1)
print(list_2) # if you will change the item in the list it will change both because they equel.

['History', 'Math', 'Physics', 'CompSci']
['History', 'Math', 'Physics', 'CompSci']
['Art', 'Math', 'Physics', 'CompSci']
['Art', 'Math', 'Physics', 'CompSci']

# tuple

In [29]:
list1 = ('History','Math','Physics','CompSci')
list_2 = list1
print(list1)
print(list_2)


list1[0] = 'Art'

print(list1)
print(list_2) # you can not change tuple we cannot remove we cannot append

('History', 'Math', 'Physics', 'CompSci')
('History', 'Math', 'Physics', 'CompSci')

TypeError: 'tuple' object does not support item assignment

# Sets

In [37]:
course = {'History','Math','Physics','CompSci','Math'}
print(course)# set will remove avtomaticly duplicates

{'Physics', 'CompSci', 'Math', 'History'}

In [39]:
course = {'History','Math','Physics','CompSci','Math'}
print('Math'in course)# set will remove avtomaticly duplicates

True

In [41]:
course = {'History','Math','Physics','CompSci'}
art_course = {'History','Math','Art','Design'}
print(course.intersection(art_course))

{'Math', 'History'}

In [43]:
course = {'History','Math','Physics','CompSci'}
art_course = {'History','Math','Art','Design'}
print(course.difference(art_course))

{'Physics', 'CompSci'}

In [44]:
course = {'History','Math','Physics','CompSci'}
art_course = {'History','Math','Art','Design'}
print(course.union(art_course))

{'CompSci', 'Math', 'History', 'Design', 'Art', 'Physics'}

In [45]:
#empty list
empty_list = []
empty_list = list()

#empty Tuples
empty_tuple = ()
empty_tuple = tuple()

# empty set
empty_set = set()


#empty_dict
empty_dict = {}