In [2]:
nums = [1,2,3,4,5]

for num in nums:
    print(num)

1
2
3
4
5

In [3]:
nums = [1,2,3,4,5]

for num in nums:
    if num == 3:
        print('Found!')
        break
    print(num)

1
2
Found!

In [4]:
nums = [1,2,3,4,5]

for num in nums:
    if num == 3:
        print('Found!')
        continue
    print(num)

1
2
Found!
4
5

In [6]:
nums = [1,2,3,4,5]

for num in nums:
    for letter in 'abc':
        print(num,letter)

1 a
1 b
1 c
2 a
2 b
2 c
3 a
3 b
3 c
4 a
4 b
4 c
5 a
5 b
5 c

In [7]:
# it will start from 0:
for i in range(10):
    print(i)

0
1
2
3
4
5
6
7
8
9

In [9]:
# if we put 1, before 10 it will start from 1
for i in range(1,11):
    print(i)

1
2
3
4
5
6
7
8
9
10

In [10]:
x = 0
while x < 10:
    print(x)
    x +=1

0
1
2
3
4
5
6
7
8
9

In [13]:
x = 0
while x < 10:
    if x == 5:
        break
    print(x)
    x +=1

0
1
2
3
4

In [14]:
x = 0
while True:
    if x == 5:
        break
    print(x)
    x +=1

0
1
2
3
4

# exercises:

In [20]:
# Using for loop and if statement, append the value minus 1000 for each key to the new list if the value is above 1000. i.e.: 
# if the value is 1500, 500 should be added to the new list.
dict={"z1":900, "t1": 1100, "p1": 2300, "r1": 1050, "k1": 3200, "g1": 400}
lst=[]
#Type your answer here.
for i in dict:
    if dict[i] > 1000:
        lst.append(dict[i] - 1000)



print(lst)

[100, 1300, 50, 2200]

In [21]:
# Write a for loop which appends the type of each element in the first list to the second list.
lst1=[3.14, 66, "Teddy Bear", True, [], {}]
lst2=[]
#Type your answer here.
for i in lst1:
    lst2.append(type(i))



print(lst2)

[<class 'float'>, <class 'int'>, <class 'str'>, <class 'bool'>, <class 'list'>, <class 'dict'>]

In [22]:
# Write a for loop using an if statement, that appends each number to the new list if it's positive.
lst1=[111, 32, -9, -45, -17, 9, 85, -10]
lst2=[]
#Type your answer here.
for i in lst1:
    if i > 0:
        lst2.append(i)



print(lst2)

[111, 32, 9, 85]

In [23]:
# Write a for loop which appends the square of each number to the new list.
lst1=[3, 7, 6, 8, 9, 11, 15, 25]
lst2=[]
#Type your answer here.
for i in lst1:
    lst2.append(i**2)



print(lst2)

[9, 49, 36, 64, 81, 121, 225, 625]

In [24]:
# Using a for loop and .append() method append each item with a Dr. prefix to the lst.
lst1=["Phil", "Oz", "Seuss", "Dre"]
lst2=[]
#Type your answer here.
for i in lst1:
    lst2.append('Dr.'+ i)



print(lst2)

['Dr.Phil', 'Dr.Oz', 'Dr.Seuss', 'Dr.Dre']

In [26]:
# Type a code inside the for loop so that counter variable named c is increased by one each time loop iterates. 
# Can you guess how many times it will add 1?
str="Civilization"

c=0
for i in str:
#Type your answer here.
    c+=1


    print(c)

1
2
3
4
5
6
7
8
9
10
11
12

In [27]:
# Write a for loop that iterates through a string and prints every letter.
str="Antarctica"
#Type your code here.
for i in str:
    print(i)

A
n
t
a
r
c
t
i
c
a

In [28]:
# Write a for loop which print "Hello!, " plus each name in the list. i.e.: "Hello!, Sam"
lst=["Sam", "Lisa", "Micha", "Dave", "Wyatt", "Emma", "Sage"]
#Type your code here.
for i in lst:
    print('Hello', i)

Hello Sam
Hello Lisa
Hello Micha
Hello Dave
Hello Wyatt
Hello Emma
Hello Sage

In [29]:
# Write a for loop so that every item in the list is printed.
lst=["koala", "cat", "fox", "panda", "chipmunk", "sloth", "penguin", "dolphin"]
#Type your answer here.
for i in lst:
    print(i)

koala
cat
fox
panda
chipmunk
sloth
penguin
dolphin

In [30]:
# Print First 10 natural numbers using while loop
for i in range(1,11):
    print(i)

1
2
3
4
5
6
7
8
9
10

In [31]:
name = "mariya mennen"
count = 0
for char in name:
    if char != 'm':
        continue
    else:
        count = count + 1

print('Total number of m is:', count)

Total number of m is: 2

In [40]:
stringh = 'Pytghon'
for i in range(len(stringh) -1,-1,-1):
    print(stringh[i],end='')
print('\n')

nohgtyP

In [41]:
stringh = '12345'
for i in range(len(stringh) -1,-1,-1):
    print(stringh[i],end='')
print('\n')

54321

In [44]:
a1 = ['Python','Java','CSharp']
b2 = [1,2,3]

for i,j in zip(a1,b2):
    print(i,j)

Python 1
Java 2
CSharp 3

In [45]:
numbers = [12,3,56,67,89,90]
sum = 0

for n in numbers:
    sum += n

print(sum)

317

In [46]:
num = [2,5,6,10,15,20,25]

for n in num:
    if n%5 == 0:
        print(n)

5
10
15
20
25

In [48]:
for i in range(1,5):
    for j in range(i):
        print('*',end='')
    print(i)

*1
**2
***3
****4

In [55]:
numbers = [1,4,50,80,12]
max = 0

for n in numbers:
    if(n>max):
        max = n
        
print(max)

80

In [58]:
numbers = [1,4,50,80,12]
min = 1000 

for n in numbers:
    if(n<min):
        min = n
print(min)

1

In [60]:
for i in range(10,0,-1):
    print(i)

10
9
8
7
6
5
4
3
2
1

In [65]:
n = 1
while n <= 5:
    print('hello Nasiba ')
    n += 1

hello Nasiba
hello Nasiba
hello Nasiba
hello Nasiba
hello Nasiba

In [69]:
i =1
while i<=5:
    print('Nasiba ' , end='')
    j=1
    while j <=4:
        print('Rock ', end='')
        j +=1
        
    i+=1
    print()

Nasiba Rock Rock Rock Rock
Nasiba Rock Rock Rock Rock
Nasiba Rock Rock Rock Rock
Nasiba Rock Rock Rock Rock
Nasiba Rock Rock Rock Rock

In [70]:
# Write a while loop that adds all the numbers up to 100 (inclusive).
counter =0
total =0

while counter<=100:
    total = counter+total
    counter+=1
    
print(total)

5050

In [92]:
# Using while loop, if statement and str() function; 
# iterate through the list and if there is a 100, print it with its index number. 
# i.e.: "There is a 100 at index no: 5"
lst=[10, 99, 98, 85, 45, 59, 65, 66, 76, 12, 35, 13, 100, 80, 95]

i = 0
while i<len(lst):
    if lst[i] == 100:
        print("There is a 100 at index no: "+ find_index(i))
        
    i+=1

NameError: name 'find_index' is not defined

In [80]:
# Using while loop and an if statement write a function named name_adder which appends all the elements in a list to a new list 
# unless the element is an empty string: "".
lst1=["Joe", "Sarah", "Mike", "Jess", "", "Matt", "", "Greg"]

#Type your code here.

def name_adder(list):
    i = 0
    new_list = []
    while i < len(list):
        if list[i] != "":
            new_list.append(list[i])
        
        i+=1
    return new_list  





print(name_adder(lst1))

['Joe', 'Sarah', 'Mike', 'Jess', 'Matt', 'Greg']

In [91]:
# This time inside a function named name_adder, write a while loop that stops appending items to the 
#new list as soon as it encounters an empty string: "". 
#And prints "There is an empty string and returns the new list."
lst1=["Sam", "", "Ben", "Olivia", "Alicia"]


def name_adder(list):
    i = 0 
    new_list= []
    while i<len(list):
        if list[i] != "":
            new_list.append(list[i])
        else:
            break
        i+=1
    return new_list

In [89]:
print(name_adder(lst1))

['Sam']